# ==========================
# FastAPI
# ==========================
fastapi
uvicorn

# ==========================
# Streamlit
# ==========================
streamlit

# ==========================
# Data Validation
# ==========================
pydantic

# ==========================
# Machine Learning
# ==========================
scikit-learn
pandas
numpy
joblib

# ==========================
# API Requests
# ==========================
requests
httpx

# ==========================
# Environment Variables
# ==========================
python-dotenv

# ==========================
# File Uploads
# ==========================
python-multipart

# ==========================
# Production Server
# ==========================
gunicorn

# ==========================
# Testing
# ==========================
pytest