numpy
pandas
matplotlib
seaborn
scikit-learn
scipy

xgboost
lightgbm
catboost

joblib

jupyter
notebook
ipykernel

statsmodels

fastapi
uvicorn

streamlit
requests

python-dotenv

mlflow

pytest

dagshub